.header-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
img {
  width: 80px;
  height: 80px;
}
.nav-items {
  display: flex;
  align-items: center;
}
.nav-items > ul {
  display: flex;
  gap: 15px;
  margin: 10px;
  padding: 10px;
}
.nav-items > ul > li {
  color: #3c3c3c;
  list-style-type: none;
}
.body-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
  border: 1px solid #e0e0e0;
}
.food-item {
  margin: 10px;
  border-radius: 5px;
}
.food-item:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid #e0e0e0;
}
.food-item img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
}
.food-item h3,
p,
span {
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin: 5px 0;
}

.filter-btn {
  padding: 10px 20px;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.filter-btn:hover {
  background-color: #45a049;
}
.reset-btn {
  padding: 10px 20px;
  margin: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.reset-btn:hover {
  background-color: #da190b;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.shimmer-card {
  width: 200px;
  height: 300px;
  background-color: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 300px;
  position: relative;
  animation: shimmer 1.5s infinite linear;
  border-radius: 5px;
  margin: 10px;
}

.search-input {
  padding: 10px;
  margin: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-btn {
  padding: 10px 20px;
  margin: 10px;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
