.header-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
img {
  width: 80px;
  height: 80px;
}
.nav-items {
  display: flex;
  align-items: center;
}
.nav-items > ul {
  display: flex;
  gap: 15px;
  margin: 10px;
  padding: 10px;
}
.nav-items > ul > li {
  color: #3c3c3c;
  list-style-type: none;
}
.body-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
  border: 1px solid #e0e0e0;
}
.food-item {
  margin: 10px;
  border-radius: 5px;
}
.food-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid #e0e0e0;
}
.food-item img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
}
.food-item h3,
p,
span {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}
